<div class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-uppercase text-center margin-bottom">{{'contact.contact_details' | translate}}</h3>
                <p><i class="fa fa-user"></i> Léo Gaudez</p>
                <p>{{'me.born_on' | translate}} {{ '2014-04-05' | date:'longDate'}}</p>
                <p><span class="flag-icon flag-icon-fr"/> {{'me.nationality' | translate}}</p>
                <p><i class="fa fa-map-marker"></i> Paris 75011</p>
                <p><i class="fa fa-phone"></i> {{'me.phone' | translate}}</p>
                <p><i class="fa fa-envelope"></i> leo.gaudez@gmail.com</p>
            </div>
            <div class="col-md-8">
                <h4>{{'contact.send_message' | translate}}</h4>
            </div>
        </div>
    </div>
</div>


